body.bb-recorder {
  background: #F9F9F9;
  max-height: 600px;
  overflow: hidden;
  min-width: 600px;
  font-family: 'Gudea', sans-serif;
}

.bb-recorder .main-container {
  /*margin-right: 15px;*/
}

.bb-recorder nav.navbar-fixed-bottom {
  padding: 10px 0 !important;
}

.bb-recorder .bb-home-teaser {
  margin: 5px 0 0 0;
}

.bb-home-teaser .right {
  float: right;
  text-align: left;
  width: 49%;
}
.bb-home-teaser .left ul , .bb-home-teaser .right ul{
  padding-left: 15px;
}
.bb-home-teaser .right p, .bb-home-teaser .left p, .bb-home-teaser .left li {
  text-align: left;
}
.bb-home-teaser .left {
  width: 49%;
  float: left;
  padding-left: 10px;
}
.bb-home-teaser p {
  margin: auto;
}
.bb-home-teaser .left img {
  width: 290px;
  margin: auto;
}


.bb-recorder .list {
  margin-top: 90px;
  margin-bottom: 60px;
  overflow-y: auto;
  display: block;
  height: 455px;
}

.headline {
  text-align: center;
}
.headline span {
  font-size: 10px;
}
.headline h4 {
  color: #707070!important;
  margin-top: 0;
}
.bb-recorder .home .headline {
  margin-top: -5px;
}
.bb-recorder .home.list {
  margin-top: 70px;
}

.bb-recorder .details.list{
  margin-bottom: 0;
}

.bb-recorder .details.list h2 i, .bb-recorder .export.list h2 i {
  font-size: 16px;
  margin: 0;
}
.bb-recorder .container-fluid.list h2 {
  margin-top: 5px;
  font-size: 20px;
}


.bb-recorder .record-details {
  margin-top: 30px;
}

.bb-recorder h3 {
  font-size: 20px;
  margin: 5px 0;
}

.bb-recorder .list .legend {
  margin-top: 10px;
  border-bottom: 1px solid #FFF;
  padding-bottom: 10px;
}

.bb-recorder h3.nothingSelected {
  margin-top: 50px;
  text-align: center;
}

.bb-recorder .list h3.deleted, .bb-recorder .path span.deleted {
  font-style: italic;
  color: #999;
  text-decoration: line-through;
}

.bb-recorder .list h3 a.action {
  margin-left: 5px;
  /*display: none;*/
}
/*
.bb-recorder .list h3:hover a.action {
  display: inline;
}
*/
.bb-recorder .demo img {
  width: 70%;
}

.bb-recorder .list table .btn {
  width: 100%;
}

.bb-recorder table {
  background: #FFF;
}

.bb-recorder table td {
  font-size: 13px;
}

.bb-recorder table td.thumb {
  width: 40px;
}

.bb-recorder table td.thumb img {
  width: 100px;
}

.bb-recorder table .copy, table td.path {
  word-break: break-all;
}

.bb-recorder table .copy {
  width: 80px;
  padding: 8px 0 !important;
}

.bb-recorder table .copy a.btn {
  padding: 6px 2px;
}

.bb-recorder table td.path code {
  white-space: inherit;
  font-style: italic;
}

.bb-recorder table td.path li {
  padding: 3px 5px;
}

.bb-recorder table td.path li .event-name{
  margin-right: 15px;
}
.bb-recorder table td.path li a {
  display: inline;
}
.bb-recorder table td.path li a.action {
  margin-left: 5px;
  display: none;
}

.bb-recorder table td.path li:hover {
  background-color: #F0F7FD;
}

.bb-recorder table td.path li:hover a.action {
  display: inline;
}

.bb-recorder table td.path .no-li {
  list-style: none;
  margin: 10px 0;
}

.bb-recorder nav.navbar {
  margin: 0;
}

.bb-recorder nav.navbar-fixed-bottom {
  padding: 10px;
  margin: 0;
  background: #F9F9F9;
}

.bb-recorder nav.navbar-fixed-bottom .btn.btn-success {
  margin-left: -10px;
}

.bb-recorder .align-center {
  text-align: center;
}

.bb-recorder .main-navbar .btn {
  margin-top: 10px;
  font-size: 11px;
}

.bb-recorder .main-navbar {
  height: 50px;
  z-index: 1000;
  top: 0;
  width: 100%;
  background-color: #4A4A4A;
  background-image: -moz-linear-gradient(top, #505050, #404040);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#505050), to(#404040));
  background-image: -webkit-linear-gradient(top, #505050, #404040);
  background-image: -o-linear-gradient(top, #505050, #404040);
  background-image: linear-gradient(to bottom, #505050, #404040);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff505050', endColorstr='#ff404040', GradientType=0);
}

.bb-recorder .main-navbar .logo {
  margin-top: 10px;
  float: left;
  width: 120px;
  height: 30px;
  display: inline-block;
  background: url('../../images/BugBuster.png') no-repeat;
  background-size: 100%;
}

.bb-recorder .main-navbar .btn.pull-right {
  margin-left: 10px;
}

.bb-recorder a:hover {
  text-decoration: none;
  color: #333!important;
}

.bb-recorder .legend, .bb-recorder .legend a {
  color: #707070;
  border: none;
}

.bb-recorder .legend a:hover {
  color: inherit;
}

.bb-recorder .recorder a {
  color: #85BC21;
}

.bb-recorder .btn.btn-info-bb {
  background: #FFF;
}

.bb-recorder .btn.btn-success {
  background: #A8CF62;
  text-shadow: 1px 1px 3px #81A61D;
  border-color: #85BC21;
}

.bb-recorder .btn.btn-success:hover {
  background: #85BC21;
  border-color: #81A61D;
}

.bb-recorder *:focus {
  outline: none !important;
  background: inherit;
}

.bb-recorder .scenarios-list li {
  -webkit-padding-start: 0;
}

.bb-recorder .scenarios-list ul {
  -webkit-padding-start: 20px;
}

.bb-recorder .home-recording {
  color: #D2322D;
}

.bb-recorder .home-selecting.stopped i {
  color: #357EBD;
}

.bb-recorder .home-recording i, .bb-recorder .home-selecting i, .bb-recorder h2 i {
  font-size: 50px;
  margin: 10px 0 25px;
}

.bb-recorder h2 i {
  margin: 10px 0;
}

.bb-recorder .home-recording.stopped i {
  color: #85BC21;
}

.bb-recorder .home .home-recording, .bb-recorder .home .home-selecting {
  margin-top: 30px;
}

.bb-recorder .home .demo, .bb-recorder .details .demo {
  float: left;
  width: 49%;
  margin-right: 1%;
}

.bb-recorder .home .demo + .demo, .bb-recorder .details .demo + .demo {
  margin-right: 0;
}

/**
 * Breadcrumbs
 */
.bb-recorder .breadcrumb {
  position: fixed;
  top: 50px;
  width: 100%;
}

.bb-recorder .header-button {
  position: fixed;
  top: 52px;
  z-index: 1;
  right: 15px;
}

/**
 * Forms
 */

.bb-recorder label {
  display: block;
}

.bb-recorder .input-xxlarge {
  width: 100%;
}

.bb-recorder input[type=text] {
  padding: 2px 5px;
}

.bb-recorder input[type=text]:focus {
  padding: 3px 6px;
  background: #F0F7FD;
  border: 1px solid #5BC0DE;
}

.bb-recorder .fa-question-circle {
  color: #428BCA;
}

.bb-recorder .loading {
  text-align: center;
  font-size: 30px;
  color: #999;
  padding: 5px 0;
}

/* Base styles (regardless of theme) */
.bb-recorder .bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #EEE;
}

.bb-recorder .bs-callout h4 {
  margin-top: 0;
}

.bb-recorder .bs-callout p:last-child {
  margin-bottom: 0;
}

.bb-recorder .bs-callout code,
.bb-recorder .bs-callout .highlight {
  background-color: #FFF;
}

/* Themes for different contexts */
.bb-recorder .bs-callout-danger {
  background-color: #FCF2F2;
  border-color: #D9534F;
}

.bb-recorder .bs-callout-warning {
  background-color: #FEFBED;
  border-color: #F0AD4E;
}

.bb-recorder .bs-callout-info {
  background-color: #F0F7FD;
  border-color: #5BC0DE;
}

.bb-recorder .bs-callout-success {
  background-color: #F1F7E7;
  border-color: #A8CF62;
}

.bb-recorder i.success {
  color: #85BC21;
}

.bb-recorder i.success:hover{
  color: #419641;
}

.bb-recorder i.primary {
  color: #357EBD;
}

.bb-recorder i.primary:hover {
  color: #2d6ca2;
}

/**
 * @HACK: somewhere, these styles from Bootstrap are overwritten...
 */
.btn-primary:hover,
.btn-primary:focus {
  background-color: #2D6CA2;
}

.btn-danger:hover,
.btn-danger:focus {
  background-color: #C12E2A;
}

.bb-recorder .btn-inline{
  margin-top: -4px;
}

.bb-recorder .breadcrumb .dropdown {
  display: inline-block;
}

.bb-recorder .breadcrumb .dropdown-toggle {
  background: none !important;
  border: none !important;
  padding: 0;
  line-height: 15px;
  color: #999;
  margin-left: -4px;
  margin-top: -2px;
}

.bb-recorder .breadcrumb li:not(.active) .dropdown-toggle {
  color: #428bca;
}

.bb-recorder .breadcrumb .dropdown-toggle:hover {
  color: #222;
}

.bb-recorder .breadcrumb .dropdown-toggle:focus {
  box-shadow: none;
}


.bb-recorder .export .screensize {
  width: 300px;
}
.bb-recorder .export .bs-callout {
  margin:0;
}
.bb-recorder .export select.input-sm {
  height: 25px;
  line-height: 30px;
  display: inline;
  width: 200px;
}

.tips * {
  text-align: left;
  color: #707070!important;
}

.tips .col-md-4 {
  width:33%;
  float: left;
  font-size: 13px;
}

.tips .col-md-4 p:last-child {
  margin-bottom: 0;
}

.editable-buttons button {
  width: 20px!important;
  padding-left: 2px;
}

.move-aside {
  margin-left: 30px;
}

.faded {
  opacity:0.8;
}
.faded:hover {
  opacity: 1;
}

.link:hover {
  text-decoration: underline!important;
}
